
.root
	{ 
     -fx-background-color: rgb(000, 150, 150);
     -fx-font-size: 16pt;
     -fx-font-family: "Courier New";
     -fx-font-weight: bold;
    }
    
   .radio-button .radio {
    -fx-border-width: 2px;
    -fx-border-color: #000;
    -fx-background-color: rgb(000, 150, 150);
    -fx-background-image: null;
    -fx-border-radius: 15px;
    -fx-padding: 4px;
}

.radio-button .radio:hover {
    -fx-background-color: rgb(333, 000, 000);
    -fx-background-image: null;
}

.radio-button .radio:selected {
    -fx-background-color: rgb(000, 150, 150);
    -fx-background-image: null;
}
.radio-button -radio:armed {
    -fx-background-color: rgb(000, 150, 150);
    -fx-background-image: null;
}
.radio-button -radio:determinate {
    -fx-background-color: rgb(000, 150, 150);
    -fx-background-image: null;
}
.radio-button -radio:indeterminate {
    -fx-background-color: rgb(000, 150, 150);
    -fx-background-image: null;
}
.radio-button .dot {
    -fx-background-radius: 15px;
    -fx-padding: 8px;
    -fx-mark-highlight-color: grey ;
    -fx-mark-color: black ;
}
	
    
#game-title
	{
	-fx-font-size: 100px;
    -fx-font-family:  "Ar Destine", "Courier New";	
	-fx-text-fill: #123456;
	}   
#NewGame
	{
	-fx-font-size: 16pt;
    -fx-font-family: "Courier New";
    -fx-base: rgb(132, 145, 47);
    -fx-background: rgb(225, 228, 203);
    }    
#QuitSave
	{
	-fx-font-size: 16pt;
    -fx-font-family: "Courier New";
    -fx-base: rgb(225, 0, 0);
    -fx-background: rgb(225, 228, 203);
    }