
.ground{
	-fx-background-color: #e4e0c5;
}

.root {
	-fx-background-color: #e4e0c5;
	-fx-padding: 10;
		-fx-font-family: Monospace;
	-fx-background-color: linear-gradient(from 0% 83% to 0% 100%, #a34313 0%, #903b12 100%), #9d4024, #d86e3a, radial-gradient(center 20% 50%, radius 100%, #e4e0c5, #7a492b);
/*
	-fx-background-color:	#a34313
		-fx-background-color:#903b12
		-fx-background-color:#9d4024
		-fx-background-color:#d86e3a
		-fx-background-color:#c54e2c*/
}
.button {
	-fx-font-size: 14;
	-fx-font-weight: bold;
	-fx-background-color: #ce2c11;
	/*  -fx-effect: dropshadow( gaussian , rgba(255.0,255.0,255.0,0.5) , 0.0,0.0,0.0,1.0 ); */
	-fx-padding: 10;
	-fx-font-family: Monospace;
}

.button:hover {
	-fx-background-color: #dd3c1b;
}
.button:pressed {
	-fx-background-color: #d14e1e;
}
.label {
	-fx-background-color: green;
	-fx-font-size: 16;
	-fx-font-weight: bold;
	-fx-text-fill: white;
	-fx-font-family: Monospace;
}
.text-field {
	-fx-font-size: 15;
}
#title {
	-fx-background-color: black;
	-fx-font-size: 24;
	-fx-font-weight: bold;
	-fx-text-fill: white;
	-fx-font-family: Monospace;
}
#calc {
	-fx-background-color: purple;
	-fx-text-fill: pink;
}
#calc:hover {
	-fx-background-color: mediumpurple;
	-fx-text-fill: pink;
}
#value1 {
	-fx-background-color: lavender;
	-fx-text-fill: purple;
}
#value2 {
	-fx-background-color: lightcyan;
	-fx-text-fill: slateblue;
}
#result {
	-fx-background-color: mistyrose;
	-fx-text-fill: firebrick;
}

.combo-box-popup .list-cell {
  /* styles for the cells in the popup */
 	-fx-background-color: lavender;
	-fx-text-fill: purple;
}
.combo-box{
		-fx-background-color: mediumpurple;
	-fx-text-fill: slateblue;
}
