
.root
	{ 
     -fx-background-color: f0f0f0;
     -fx-font-size: 16pt;
     -fx-font-family: "Helvetica","System Fet", "Courier New";
     -fx-font-weight: bold;
    }
    
   .radio-button .radio {
    -fx-border-width: 2px;
    -fx-border-color: #000;
    -fx-background-color: rgb(000, 150, 150);
    -fx-background-image: null;
    -fx-border-radius: 15px;
    -fx-padding: 4px;
}

.radio-button .radio:hover {
    -fx-background-color: rgb(333, 000, 000);
    -fx-background-image: null;
}

.radio-button .radio:selected {
    -fx-background-color: rgb(000, 150, 150);
    -fx-background-image: null;
}
.radio-button -radio:armed {
    -fx-background-color: rgb(000, 150, 150);
    -fx-background-image: null;
}
.radio-button -radio:determinate {
    -fx-background-color: rgb(000, 150, 150);
    -fx-background-image: null;
}
.radio-button -radio:indeterminate {
    -fx-background-color: rgb(000, 150, 150);
    -fx-background-image: null;
}
.radio-button .dot {
    -fx-background-radius: 15px;
    -fx-padding: 8px;
    -fx-mark-highlight-color: grey ;
    -fx-mark-color: black ;
}
	
    
#game-title
	{
	-fx-font-size: 80px;
    -fx-font-family:  "System", "Ar Destine", "Courier New";	
	-fx-text-fill: #f0f0f0;
	
	}  
#topbox	{
	-fx-background-color: #4d4d4d;
}
#bottombox{}

	
#NewGame
	{
	-fx-font-size: 16pt;
    -fx-font-family: "Helvetica","Courier New";
    -fx-base: #a6dc7f;
    -fx-background: #a6dc7f;
    	-fx-text-transform: uppercase;
    }    
#QuitSave
	{
	-fx-font-size: 16pt;
    -fx-font-family: "Helvetica","Courier New";
    -fx-base: #d0524e;
 
    }